html
  head
    title About me
    link(rel="stylesheet", href="/static/css/app.css")
  body
    div.container
      div.column1
        p Documentation from REST API.
        ul
        li
        a( href ='/' ) GET /Menú
        li
        a( href ='/docs/books/list' ) GET /Books
        li
        a( href ='/docs/books/item' ) GET /books/:id
        li
        a( href ='/docs/products/list' ) GET /products
        li
        a( href ='/docs/products/list' ) GET /products/:id
      div.column2
        h1= projectTitle
         p Here's the OAuth 2.0 scope information for the Books API:
         p https://www.googleapis.com/auth/books
         p To request access using OAuth 2.0, your application needs the scope information, 
         p as well as information that Google supplies when you register your application 
         p (such as the client ID and the client secret).
         p Tip: The Google APIs client libraries can handle some of the authorization process
         p for you. They are available for a variety of programming languages; check the page 
         p with libraries and samples for more details.
      div.column3
        p Heyy
        p= JSON.stringify(item.data)
