html
  head
    title Books item
    link(rel="stylesheet", href="/static/css/app.css")
  body
    div.container
      div.column1
        p Documentation from REST API.
        ul
        li
        a( href ='/' ) GET /Menú
        li
        a( href ='/docs/books/list' ) GET /Books
        li
        a( href ='/docs/books/item' ) GET /books/:id
        li
        a( href ='/docs/products/list' ) GET /products
        li
        a( href ='/docs/products/item' ) GET /products/:id
      div.column2
        h1= projectTitle
         p API ENDPOINTS
         p Below described the REST endpoint available that you can use to search for books
         P My Own Fancy Project Books IDs
         p You need to specify ID fields with certain API method calls. There is of ID used within My Own Fancy Project Books:
         p You can see the data contained in the book as "Name", "Author", the stock of "Books"
         div.apiAll https://api.myownfancyproject.com/docs/books/{id}
      div.column3
         div.ColBks
           p.textCente JSONBooksId
           p= JSON.stringify(item.data)
