html
  head
    title Products list
    link(rel="stylesheet", href="/static/css/app.css")
  body
     div.container
      div.column1
        p Documentation from REST API.
        ul
        li
        a( href ='/' ) GET /Menú
        li
        a( href ='/docs/books/list' ) GET /Books
        li
        a( href ='/docs/books/item' ) GET /books/:id
        li
        a( href ='/docs/products/list' ) GET /products
        li
        a( href ='/docs/products/item' ) GET /products/:id
      div.column2
         h2= projectTitle
         p API ENDPOINTS
         p Below described the REST endpoint available that you can use to search for Products
         div.apiAll https://api.myownfancyproject.com/docs/products/list
      div.column3
         div.ColBks
           p.textCente JSONProduct
           pre= products
