html
  head
    title REST API LinkedIn
    link(rel="stylesheet", href="/static/css/app.css")
  body
    div.container
      div.column1
        p Documentation from REST API
        ul
        li
        a( href ='/docs/books/list' ) GET /Books
        li
        a( href ='/docs/books/item' ) GET /books/:id
        li
        a( href ='/docs/products/list' ) GET /products
        li
        a( href ='/docs/products/item' ) GET /products/:id
      div.column2
        div.col2
           h1 Documentation from REST API
           p Using the API
           p Contents
           p.bold Introduction
           p This document is intended for developers who want to write applications that can interact with the Books API. My Own Fancy Project has a mission to digitize the world's book content and make it more discoverable on the Web. The Books API is a way to search and access that content, as well as to create and view personalization around that content.
          
           p If you're unfamiliar with My Own Fancy Projec concepts, you should read Getting Started before starting to code.
      div.c3
        div.Col3
           p Base URL
           div.api https://api.myownfancyproject.com/
                