html
  head
    title About me
    link(rel="stylesheet", href="/static/css/app.css")
  body
    div.container
      div.column1
        p Documentation from REST API.
        ul
        li
        a( href ='/' ) GET /Menú
        li
        a( href ='/docs/books/list' ) GET /Books
        li
        a( href ='/docs/books/item' ) GET /books/:id
        li
        a( href ='/docs/products/list' ) GET /products
        li
        a( href ='/docs/products/item' ) GET /products/:id
      div.column2
         h1= projectTitle
         P My Own Fancy Project Products IDs
         p You need to specify ID fields with certain API method calls. There is of ID used within My Own Fancy Project Products:
         p You can see the data contained in the products as "Id", "Name", "owner", the stock of "Products"
         div.apiAll https://api.myownfancyproject.com/docs/products/{id}
      div.column3
         div.ColBks
           p.textCente JSONProductId
           p= JSON.stringify(product.data)
